<!doctype html>
<html>
<title>
  <body>
    <form action="/checkout" method="post">
   item: <input type="text" name="item">
  <button type="submit">submit</button>
</form>
  </body>
</title>
</hmtl>
